<div class="content">
    <div>
        <p class="bold">
            <strong>Unlimited movies, TV <br>
            shows and more.</strong>
        </p>
    </div>
    <div class="inner">
        Watch anywhere. Cancel anytime.
    </div>
    <div class="inner2">
        Ready to watch? Enter your email to create or restart your membership.
    </div>
    
</div>
<div class="hi">
        <input type="text" class="tex" value="Email address" >
        <!-- <textarea>Email address</textarea>            -->
        <button class="btn3">Get Started</button>
    </div>